.success-message {
  position: fixed;
  top: 20px;
  right: 30px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 10px;
}

.success-message p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}